/*
 *  File Name: styles.css
 *  Project: GoogleGas
 *  Completed by: Matjaz Cigler
 * Description: All the CSS styling for use in the components
 */

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 115px;
    width: 100%;
    z-index: 200;

  }

  .input-bar {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 115px;
    height: 80px;
    width: 100%;
    z-index: 101; /* Adjust the z-index to be below the header */
  } 
  .input-bar > * {
    display: inline;
    vertical-align: middle;
    margin: 20px;

  }




  .author p,.author a {
    display: inline;
    vertical-align: middle;
    align-items: center;
    padding: 5px
  } 

  .map-style {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
  } 

  .station-widget {
    margin-left: 10px;
    background-color: white; /* Set background color */
    border-radius: 20px; /* Add rounded corners for a bubbly effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center align items horizontally */
    position: fixed; /* Fixed positioning */
    top: 350px; /* Distance from the top */
    height: 400px; /* Set a specific height */
    width: 20%; /* Set a specific width */
    padding: 16px; /* Add some padding inside the widget */
    z-index: 102; /* Ensure it's above other elements but below the header */
    font-family: 'Arial', sans-serif; /* Set a default font */
    flex-direction: column;
  }
  
  
  .station-widget h2 {
    margin: 0; /* Remove default margin for the heading */
    color: #333; /* Set text color */
    font-size: 2rem; /* Increase font size for the heading */
    margin-bottom: 8px; /* Add a bit of spacing below the heading */
  }
  
  .station-widget p {
    margin: 0; /* Remove default margin for paragraphs */
    color: #666; /* Set text color */
    font-size: 2rem; /* Set font size for paragraphs */
  }
  
  .station-widget a {
    color: #007bff; /* Set link color */
    text-decoration: none; /* Remove underline from links */
    margin-left: 8px; /* Add a small margin to the left of links */
  }
  
